flask
flask-sqlalchemy
flask-login
flask-migrate
flask-mail
python-dotenv
requests
pandas
openpyxl
celery
redis
psycopg2-binary
APScheduler
gunicorn
sqlalchemy
werkzeug>=2.3,<4.0
docxtpl
num2words
docx2pdf
